---
layout: page
title: Home
description: "This is Lin's page. Welcome!"
header-img: "img/home.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <div class="zh post-container">
        <p> 欢迎来到林宇浩的个人主页！ </p>
        <p><a href="{{'/pdfs/' | prepend: site.baseurl }}"><Strong>课程作业&项目</Strong></a>：记录了本人本科阶段完成的部分课程作业以及课程项目。</p>
        <p><a href="{{'/ppts/' | prepend: site.baseurl }}"><Strong>组会&分享会</Strong></a>：记录了本人在实验室进行科研期间所制作的部分组会PPT。</p>
    </div>
    
</div>

<!-- English Version -->
<div class="en post-container">
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>

{% if site.duoshuo_username %}

			                <!-- 多说评论框 start -->
			                <div class="comment">
			                    <div class="ds-thread"
									data-thread-key="{{site.duoshuo_username}}/about"
			                        data-title="{{page.title}}"
			                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
			                    </div>
			                </div>
			                <!-- 多说评论框 end -->
		
					{% endif %}
				
		
		{% if site.duoshuo_username %}
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		    // dynamic User by wblearn
		    var _user = '{{site.duoshuo_username}}';

		    // duoshuo comment query.
		    var duoshuoQuery = {short_name: _user };
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		         || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		</script>
		<!-- 多说公共JS代码 end -->
		{% endif %}
		
